*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul, ol {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

img {
    display: flex;
    object-fit: cover;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: $main-font;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    background-color:$white-color;
}


h1 {
    font-size: $h1-fs;
    line-height: $h1-lh;
}

h2 {
    font-size: $h2-fs;
    font-weight: $h2-fw;
    line-height: $h2-lh;
}

h4 {
    font-size: $h4-fs;
    font-weight: $h4-fw;
    line-height: $h4-lh;
}

.container {
    width: 100%;
    max-width: 1273px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}